<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicons glyphicons-education"></span>
                The Outcomes Project
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/posts">Posts</a></li>
            <li><a href="/questions">Questions</a></li>
            <li><a href="/chat">Chat</a></li>
        </ul>

    </div>
</nav>

