<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="logo">
        <img src="http://static-assets.generalassemb.ly/logos/generalassembly-open-graph.png" alt="OutcomesApp" style="width:400px;height:210px;">
        </div>

        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <span class="glyphicons glyphicons-education"></span>
                The Outcomes Project
            </a>
        </div>

        <ul class="nav navbar-nav pull-right">
            <li><a href="/logged_in">Profile</a></li>
            <li><a href="/posts">Posts</a></li>
            <li><a href="/questions">Questions</a></li>
            <li><a href="/chat">Chat</a></li>
            <li><a href="/code_practice" title="">Practice Coding</a></li>
            <li><a href="/logout">Logout</a>
        </ul>

    </div>
</nav>

