<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="logo">
        <img src="http://static-assets.generalassemb.ly/logos/generalassembly-open-graph.png" alt="OutcomesApp" style="width:400px;height:210px;">
        </div>

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicons glyphicons-education"></span>
                The Outcomes Project
            </a>
        </div>

        <ul class="nav navbar-nav pull-right">
            <li><a href="/about">About</a></li>
            <li><a href="https://generalassemb.ly/contact">Contact Us</a></li>

        </ul>

    </div>
</nav>
