<!DOCTYPE html>
<html>
<head>
  <title>About</title>
  <style type="text/css" media="screen">
    body{
      text-align: center
    }
  </style>
</head>
<body>
    <h1>Outcomes for Grads</h1>

    <p>So you just graduated from General Assembly</p><br>
    <p>Want to stay connected with friends</p>
    <p>Need an instructor to go over your code</p>
    <p>Want to share post with the GA community</p>

    <p>Then this is the app for you</p>
    <a href="/logged_in">Back</a> <br>
    <a href="/auth/github">Login/Sign up with GitHub</a>
</body>
</html>

