<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>

</head>
<body>
    <h1>Welcome</h1>
    <p>Chat and whiteboard with other GA grads.</p>
    <p>Click with 2 fingers to clear the whiteboard.</p>
    <div id="chat">
        <div id="messages"></div>
        <div id="authors"></div>
    </div>


    <textarea placeholder="username" rows="4" cols="8" id="author"></textarea>
    <textarea placeholder="message" rows="4" cols="50" id="message"></textarea>
    <button id="send-message">Send</button>

	<script src="javascripts/sketch.js"></script>
	<script src="/libraries/p5.js"></script>


</body>
</html>



