<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel='stylesheet' href='/libraries/codemirror.css' />
	<link rel='stylesheet' href='/stylesheets/3024-night.css' />
  <% include ./partials/head %>
</head>
<body class="container">

  <header>
    <% include ./partials/header %>
  </header>


<h3 id="title">Coding Practice</h3>
<script src="libraries/codemirror.js"></script>
<script src="libraries/codemirror_javascript.js"></script>
<script src="javascripts/code_practice.js"></script>


  <a class="btn btn-default btn-sm active" href="/logged_in" role="button">Back</a>
    <footer>
    <% include ./partials/footer %>
    </footer>
</body>
</html>
