<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

<form action="auth/github" method="post" accept-charset="utf-8">
    <label>Username</label>
    <input type="text" name="username" ></input>


    <label>Password</label>
    <input type="password" name="password"></input>

    <button>submit</button>

    <!-- <a href="/auth/github">Login with GitHub</a> -->
</form>

</body>
</html>
