<!-- <!DOCTYPE html>
<html>
<head>
  <title>Glassdoor Search</title>
  <script src="http://code.jquery.com/jquery-1.12.1.min.js"></script>
</head>
<body>
  <div id="searchFrom">
    <input type="text" id="searchBar" placeholder="Image Search">
  <button id="clicker">Search Companies</button>
  </div>

<div id="showMe"></div>

<script src="js/app.js"></script>
</body>
</html> -->
<%= results %>

<a href='https://www.glassdoor.com/index.htm'>powered by <img src='https://www.glassdoor.com/static/img/api/glassdoor_logo_80.png' title='Job Search' /></a>
