<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="seeds.js" type="text/javascript" charset="utf-8"></script>
  </head>

  <body>

    <p>Welcome to <%= title %></p>

    <br><br><a href="welcome" title="">Welcome</a>
    <br><a href="posts" title="">Posts</a>


  </body>
</html>


