<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<h1>Hello there</h1>
  <a href="/posts" title="">Posts</a>
  <a href="/chat" title="">Chat</a>
  <a href="/question" title="">Question</a>
  <a href="/logout" title="">Logout</a>
  <a href="/code_practice" title="">Practice Coding</a>
</body>
</html>
