<!DOCTYPE html>
<html>
<head>
  <title> Logged in User</title>
  <style type="text/css" media="screen">

  #blurb{
    text-align: center;
    color: gray;
    border: blue;

  }
</style>

<% include ./partials/head %>
</head>
<body class="container">


<header>
<% include ./partials/header %>
</header>



<h2>Hello there <%= user.githubUsername %> </h2>



<div id="blurb" class="col-lg-offset-3 col-lg-6">
    <p>This app if geared towards recent grads of General Assembly. Features included are chatting and whiteboarding with other users, submitting posts to a community board, a question feature that allows grads to post questions they need help answering, a coding practice platform that allows users to test javascript code. Log in and sign up is handled with a github Oauth. </p>
</div>




</body>
</html>
