<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<h1>Hello there <%= user.githubUsername %> </h1>
  <ul>
    <li><a href="/posts" title="">Posts</a></li>
    <li><a href="/chat" title="">Chat</a></li>
    <li><a href="/questions" title="">Question</a></li>
    <li><a href="/code_practice" title="">Practice Coding</a></li>
    <li><a href="/about" title="">About</a></li>
    <li><a href="/logout" title="">Logout</a></li>
  </ul>





</body>
</html>
