<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<h1>Hello there</h1>
<%= users %>
  <a href="/posts" title="">posts</a>
  <a href="/chat" title="">Chat</a>
  <a href="/question" title="">Question</a>
</body>
</html>
