<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <style>

    .head {
      float: center;
    }

  </style>
</head>
<body>

    <h1 class="head">Login</h1>

    <a href="/auth/github">Login with GitHub</a>


</body>
</html>
