<!DOCTYPE html>
<html>
  <head>
    <title>Create Post</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Posts!</h1>
    <% for(var i=0; i<posts.length; i++) {%>
   <li><a href='/posts/<%= posts[i].id %>'><%= posts[i].title %></a></li>
<% } %>
  <br><br><br><br><a href='/posts/new'>New Post</a>
  <br><a href='/'>Back Home</a>
  </body>
</html>
