<!DOCTYPE html>
<html>
  <head>
    <title>View Post</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Check out this post lol</h1>
    <%= post.title %><br>
    <%= post.category %><br>
    <%= post.content %>
  </body>
</html>
