<!DOCTYPE html>
<html>
 <head>
   <title>View Question</title>
   <link rel='stylesheet' href='/stylesheets/style.css' />
 </head>
 <body>
   <h1>Here is your question to live:</h1>
   <%= question.title %>
   <br>
   <%= question.body %>
 </body>
</html>
