<!DOCTYPE html>
<html>
<head>
  <title>Quesiton Bank</title>
<style type="text/css" media="screen">
  body{ text-align: center }
</style>

<% include ./partials/head %>
</head>
<body class="container">
<h1>Welcome to the Incredibles App</h1>

<header>
<% include ./partials/header %>
</header>



<p>Please login or sign up with github to access our awesome app</p>

<a href="/auth/github">Login/Sign up with GitHub</a>
    <br>
    <br>
    <br>
    <br>
    <footer>
    <% include ./partials/footer %>
    </footer>
</body>
</html>
