<!DOCTYPE html>
<html>
<head>
  <title>Quesiton Bank</title>

</head>
<body>

<h1>Welcome to the Incredibles App</h1>
<p>Please login or sign up with github</p><br>
<p>To access our awesome app</p>
    <!-- <section id="question">
      <article class="question selected">
        <p>What are your hobbies?</p>
      </article>

      <article class="question">
        <p>What languages can you code in?</p>
      </article>

      <article class="question">
        <p>What made you change careers toward web development?</p>
      </article>

    </section>
 -->
    <nav id="controls">

      <a href="login" title="">Login page</a>
      <a href="sign_up" title=""> Sign Up </a>
      <br>
      <a href="posts" title="">Posts</a>
      <a href="questions" title="">Questions</a>

    </nav>
</body>
</html>
