body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#canvasStyling {
	border: solid;
    border-width: 2px;
 }

#messages {
	margin: 0;
	padding: 0;
}

.messages {
	display: inline-block;
}

.authors{
	display: inline-block;
}

#onePost {
  margin: 0 auto;
  text-align: center;
  background-color: lightgrey;
  margin-top: 20px;
  height: 200px;
  overflow: scroll;
  padding: 15px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

#onePost a:link{ color:darkred; }
#onePost a:visited{ color:darkred; }

#container {
  text-align: center;
}

#showOnePost {
  margin: 0 auto;
  text-align: center;
  background-color: lightgrey;
  margin-top: 20px;
  width: 50%;
  overflow: scroll;
  padding: 15px;
  border-color: darkred;
  border-style: solid;
  border-width: 2px;
}
