body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#canvasStyling {
	border: solid;
    border-width: 2px;
 }

#messages { 
	margin: 0; 
	padding: 0;
}

.messages {
	display: inline-block;
}

.authors{
	display: inline-block;
}
