<!DOCTYPE html>
<html>
  <head>
    <title>Create Post</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include ../partials/head %>
  </head>
  <body class="container">
    <header>
      <% include ../partials/header %>
    </header>
    <div id="container">
      <h2>Create a new post</h2>
      <form method="post" action="/posts">
        <input type="text" name="title" placeholder="title">
        <br>
        <input type="text" name="tldr" placeholder="TLDR">
        <br>
        <select id="category" name="category">
        <%
        var options = [ "new jobs", "brag", "whine", "shoutout", "ramble", "misc" ];
        for ( var i = 0; i < options.length; i++ )
        {
            var selected = ( options[i] ) ? "selected" : "";
            %><option value="<%=options[ i ] %>" <%=selected %>><%=options[i] %></option><%
        }
        %>
        </select>

        <br>
        <textarea name="content" placeholder="content" rows=20 cols=40></textarea>
        <br>
        <input type=submit value="submit">
      </form>
    </div>
  </body>
</html>
