<!DOCTYPE html>
<html>
<head>
  <title>Quiz Index</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="http://code.jquery.com/jquery-1.12.1.min.js"></script>
  <% include ./partials/head %>
</head>
<body>

    <header>
      <% include ./partials/header %>
    </header>


  <h2>Interview questions</h2>
    <ul>
      <% questions.forEach(function(question) { %>
          <li><a href='/questions/<%= question._id %>'><%= question.title %></a> - <% question.categories.forEach(function(category) { %> <%= category.name %> <% }) %>
          <a id="deleteQuestion">Delete<div class="hidden"><%= question._id %></div></a></li>
      <% }); %>
    </ul>
    <a href="/questions/new" id:"addQuestion">Add Question</a>
    <a href="/logged_in">Back</a>
    <a href="/">Logout</a>
  <script src="/javascripts/questions.js"></script>

    <footer>
      <% include ./partials/footer %>
    </footer>

</body>
</html>

<style>
  .hidden{
    display: none;
  }
</style>

