<!DOCTYPE html>
<html>
<head>
  <title>Add Question to Database</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <% include ./partials/head %>
</head>
<body>

    <header>
      <% include ./partials/header %>
    </header>


  <form method="post" action="/questions">
      <input type="text" name="title" placeholder="title">
      <br>
      <input name="category" placeholder="category"></input>
      <br>
      <textarea name="body" placeholder="content" rows=20 cols=40></textarea>
      <br>
      <input type=submit value="submit">
  </form>
  <br>
  <br>
  <a href="/questions">Back</a>

    <footer>
      <% include ./partials/footer %>
    </footer>


</body>
</html>
