<!DOCTYPE html>
<html>
<head>
  <title>Add Question to Database</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <% include ../partials/head %>
</head>
<body class="container">

    <header>
      <% include ../partials/header %>
    </header>

    <div class="row">
      <div class="col-md-6 col-md-offset-2" id="blurbdiv">
        <form method="post" action="/questions">
          <input type="text" name="title" placeholder="title">
          <br>
          <input name="category" placeholder="category"></input>
          <br>
          <textarea name="body" placeholder="content" rows=5 cols=100></textarea>
          <br>
          <input class="btn btn-default btn-sm active" type="submit" value="submit">
          <a class="btn btn-default btn-sm active" href="/questions" role="button">Back</a>
        </form>
      </div>
    </div>
  <br>
  <br>
    <footer>
      <% include ../partials/footer %>
    </footer>


</body>
</html>
